body {
    background: linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #00ffff7a 66%, #8a8484 66%);
    font-family: 'Varela Round', sans-serif;
}

input[type="text"] {
    font-size: 24px;
    font-family: 'Varela Round', sans-serif !important;
}

.ui.segments {
    border: none;
}

.weather-list {
    position: absolute !important;
    left: 50%;
    top: 11%;
    z-index: 222;
    margin: 0 !important;
}

.container {
    margin-top: 20px !important;
    
}

.weather-item {
    position: relative; 
    left: -50%;
    margin: 0 !important;
    font-size: 25px;
    font-weight: 500;
    line-height: 10px;
    background-color: #131415 !important;
    color: aqua;
    border: 1px solid rgba(0, 188, 212, 0.36) !important;
    cursor: pointer;
}

.weather-item:hover {
    box-shadow: 0px 0px 13px black;
}

.weather-item-clicked {
    background-color: #3d3f40 !important;
    color: aqua;
    line-height: 36px;
    text-shadow: 1px 1px 9px black;
    padding: 35px 0 !important;
}

.form {
    margin-bottom: 20px !important;
}

.secondary {
    background-color: #3d3f40 !important;
}

.weather-city-name {
    font-size: 30px;
}

.weather-temp {
    position: absolute;
    font-size: 30px;
    top: 75px;
    left:-18px;
    border: 1px solid #0000009e;
    box-shadow: 0px 0px 13px cyan;
    border-radius: 50%;
    padding: 15px 20px;
    width: 115px;
    height: 115px;
    display: flex;
    line-height: 78px;
}

.weather-image {
    width: 70px;
}

@media (max-width: 550px) {
    .weather-temp {
        top: 75px;
        left:-67px;
        width: 110px;
        height: 110px;
        font-size: 27px;
    }
}